{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure                         {:mvn/version "1.12.3"}
  org.scicloj/noj                             {:mvn/version "2-beta18"}
  org.scicloj/tablecloth.time                 {:mvn/version "1.00-alpha-6"}
  ;; Tableplot can be removed after updating Noj:
  org.scicloj/tableplot                       {:mvn/version "1-beta14"}
  org.scicloj/plotje                          {:mvn/version "0.2.2"}
  markdown-clj/markdown-clj                   {:mvn/version "1.12.4"}
  org.clojure/core.async                      {:mvn/version "1.9.808-alpha1"}
  io.github.clojure/core.async.flow-monitor   {:git/tag "v0.1.2"
                                               :git/url "https://github.com/clojure/core.async.flow-monitor"
                                               :git/sha "6248a5d"}
  criterium/criterium                         {:mvn/version "0.4.6"}
  metosin/malli                               {:mvn/version "0.19.1"}
  clj-fuzzy/clj-fuzzy                         {:mvn/version "0.4.1"}
  clj-thamil/clj-thamil                       {:mvn/version "0.2.0"}
  org.scicloj/clay                            {#_#_:mvn/version "2.0.16"
                                               :git/url "https://github.com/scicloj/clay"
                                               :git/sha "606b3180bd15c88740786c6ab0902af26f248b0d"}
  org.scicloj/kindly                          {:mvn/version "4-beta23"}
  thi.ng/geom                                 {:mvn/version "1.0.1"}
  org.eclipse.elk/org.eclipse.elk.core        {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.graph       {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.graph.json  {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.alg.common  {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.alg.layered {:mvn/version "0.10.0"}
  backtick/backtick                           {:mvn/version "0.3.5"}
  camel-snake-kebab/camel-snake-kebab         {:mvn/version "0.4.3"}
  io.github.alza-bitz/snowpark-clj            {:git/url "https://github.com/alza-bitz/snowpark-clj.git"
                                               :git/sha "7856d9ca2080b188f9feec115ca709d3f54877b0"}
  org.lwjgl/lwjgl                             {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl$natives-linux               {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-opengl                      {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-opengl$natives-linux        {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-opengl$natives-windows      {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-opengl$natives-macos        {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-glfw                        {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-glfw$natives-linux          {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-glfw$natives-windows        {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-glfw$natives-macos          {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-stb                         {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-stb$natives-linux           {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-stb$natives-windows         {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-stb$natives-macos           {:mvn/version "3.4.0"}
  comb/comb                                   {:mvn/version "1.0.0"}
  midje/midje                                 {:mvn/version "1.10.10"}
  dev.data-star.clojure/sdk                   {:mvn/version "1.0.0-RC4"}
  dev.data-star.clojure/http-kit              {:mvn/version "1.0.0-RC4"}
  dev.data-star.clojure/brotli                {:mvn/version "1.0.0-RC4"}
  dev.data-star.clojure/malli-schemas         {:mvn/version "1.0.0-RC4"}
  dev.data-star.clojure/http-kit-malli-schemas {:mvn/version "1.0.0-RC4"}
  dev.data-star.clojure/ring-malli-schemas    {:mvn/version "1.0.0-RC4"}
  ;; required by mentat_collective/emmy
  io.github.nextjournal/clerk                 {:mvn/version "0.18.1158"}

  ;; libraries for GIS work
  org.apache.sis.storage/sis-geotiff          {:mvn/version "1.5"}
  org.apache.sis.core/sis-referencing         {:mvn/version "1.5"}
  org.geotools/gt-geotiff                     {:mvn/version "31.2"}
  org.geotools/gt-main                        {:mvn/version "31.2"}
  org.geotools/gt-epsg-hsql                   {:mvn/version "31.2"}
  org.geotools/gt-geojson                     {:mvn/version "31.2"}

  clj-http/clj-http                           {:mvn/version "3.13.1"}

  generateme/fastmath                         {:mvn/version "3.0.0-alpha4"}
  clojure2d/clojure2d                         {:mvn/version "1.5.0-alpha1"}
  org.scicloj/wadogo                          {:mvn/version "1.1.0-alpha1"}
  quil/quil                                   {:mvn/version "4.3.1563"}

  com.github.psambit9791/jdsp                 {:mvn/version "3.1.0"}

  org.soulspace/qclojure                      {:mvn/version "0.22.0"}
  org.babashka/http-client                    {:mvn/version "0.4.22"}
  io.github.babashka/sci.nrepl                {:mvn/version "0.0.2"}
  com.github.danielsz/bioscoop                {:mvn/version "1.0.5"
                                               :exclusions [ch.qos.logback/logback-classic]}
  yamlscript/core                             {:git/url "https://github.com/yaml/yamlscript"
                                               :git/sha "ed7adfbf90a39f379d5a7193bb2e4bdd7f0eecf8"
                                               :deps/root "core"}
  com.hyperphor/multitool                     {:mvn/version "0.2.3"}
  datascript/datascript                       {:mvn/version "1.7.8"}
  ;; io.github.pbaille/noon                      {:git/url "https://github.com/pbaille/noon.git"
  ;;                                              :git/sha "97677727bff20243dc15d5cafb821d4af9019842"}
  }

 :mvn/repos {"osgeo" {:url "https://repo.osgeo.org/repository/release/"}}

 :aliases
 {;; Build the site with `clojure -M:clay -A:markdown`
  ;; Run Clay in watch mode with `clojure -M:clay`
  :clay       {:main-opts ["-m" "civitas.clay-main"]
               :jvm-opts  ["-Dclojure.main.report=stderr"
                           "--add-opens=java.base/java.nio=ALL-UNNAMED"]}
  ;; When debugging libraries
  :local-deps {:override-deps {org.scicloj/clay          {:local/root "../clay"}
                               org.scicloj/kindly        {:local/root "../kindly"}
                               org.scicloj/kindly-advice {:local/root "../kindly-advice"}
                               org.scicloj/kindly-render {:local/root "../kindly-render"}}}
  :neil       {:project {:name io.github.timothypratley/clojurecivitas}}
  :dev        {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"]}
  :test-clj   {:extra-paths ["test"]
               :main-opts ["-m" "language-learning.vocabulary-estimation.test-runner"]}
  :test-cljs  {:extra-paths ["test"]
               :extra-deps {org.clojure/clojurescript {:mvn/version "1.12.42"}}
               :main-opts ["-m" "cljs.main"
                           "-re" "node"
                           "-m" "language-learning.vocabulary-estimation.cljs-test-runner"]}}}
