{:author
 [{:id          :chouser
   :name        "Chris Houser"
   :image       "https://avatars.githubusercontent.com/u/36110?v=4"
   :url         "https://chouser.us/"
   :links       [{:icon "github" :href "https://github.com/chouser"}]}
  {:id          :onbreath
   :name        "Adrian Bendel"
   :image       "https://avatars.githubusercontent.com/u/65270097?v=4"
   :url         "https://github.com/onbreath"
   :links       [{:icon "github" :href "https://github.com/onbreath"}]}
  {:id          :eugnes
   :name        "Eugen Nesbakken"
   :image       "https://avatars.githubusercontent.com/u/46522650"
   :affiliation [:bu :endor]
   :links       [{:icon "github" :href "https://github.com/eugnes03"}]}
  {:id          :kirahowe
   :name        "Kira Howe"
   :image       "https://avatars.githubusercontent.com/u/11531673?v=4"
   :url         "https://kiramclean.com/"
   :affiliation [:scicloj]
   :links       [{:icon "github" :href "https://github.com/kirahowe"}]}
  {:id          :daslu
   :name        "Daniel Slutsky"
   :image       "https://avatars.githubusercontent.com/u/5673102?v=4"
   :url         "https://scicloj.github.io/contributors/daslu/"
   :affiliation [:scicloj]
   :links       [{:icon "github" :href "https://github.com/daslu"}]}
  {:id          :danielsz
   :name        "Daniel Szmulewicz"
   :image       "https://avatars.githubusercontent.com/u/859131?v=4"
   :url         "https://danielsz.github.io/"
   :affiliation []
   :links       [{:icon "github" :href "https://github.com/danielsz"}]}
  {:id          :alexmiller
   :name        "Alex Miller"
   :image       "https://avatars.githubusercontent.com/u/171129?v=4"
   :url         "https://insideclojure.org/"
   :affiliation [:clojure.core]
   :links       [{:icon "github" :href "https://github.com/puredanger"}]}
  {:id          :echeran
   :name        "Elango Cheran"
   :image       "https://www.unicode.org/consortium/img/cheran-150px.jpg"
   :url         "https://www.elangocheran.com"
   :affiliation []
   :links       [{:icon "github" :href "https://github.com/echeran"}]}
  {:id          :seancorfield
   :name        "Sean Corfield"
   :image       "https://avatars.githubusercontent.com/u/43875?v=4"
   :email       "sean@corfield.org"
   :url         "https://corfield.org"
   :affiliation [:clojurecamp]
   :links       [{:icon "github" :href "https://github.com/seancorfield"}
                 {:icon "mastodon" :text "Mastodon" :href "https://tech.lgbt/@seancorfield"}]}
  {:id          :timschafer
   :name        "Tim Schafer"
   :image       "https://media.licdn.com/dms/image/v2/D4E03AQGuYEubu1rpeA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1681232451970?e=1764201600&v=beta&t=BaGJr3SSrKLFVm2yoZOX-tJgdPUyD3LR6rGTPQqWAvQ"
   :url         "https://github.com/srcerer"
   :affiliation [:clojurecamp]
   :links       [{:icon "github" :href "https://github.com/srcerer"}]}
  {:id          :timothypratley
   :name        "Timothy Pratley"
   :url         "https://timothypratley.blogspot.com/p/httpswww.html"
   :image       "https://avatars.githubusercontent.com/u/49298?v=4"
   :email       "timothypratley@gmail.com"
   :affiliation [:hummi]
   :links       [{:icon "github" :href "https://github.com/timothypratley"}]}
  {:id          :mattkleinsmith
   :name        "Matt Kleinsmith"
   :url         "https://github.com/mattkleinsmith"
   :image       "https://avatars.githubusercontent.com/u/8968171?v=4"
   :email       "mwksmith@gmail.com"
   :affiliation [:clojurecamp]}
  {:id          :harold
   :name        "Harold"
   :url         "https://techascent.com"
   :image       "https://avatars.githubusercontent.com/u/7443?v=4"
   :email       "harold@techascent.com"
   :affiliation [:techascent]
   :links       [{:icon "github" :text "GitHub" :href "https://github.com/harold"}]}
  {:id          :samumbach
   :name        "Sam Umbach"
   :url         "https://github.com/samumbach"
   :image       "https://avatars.githubusercontent.com/u/11580?v=4"
   :email       "samumbach@gmail.com"
   :affiliation [:clojurecamp]
   :links       [{:icon "github" :href "https://github.com/samumbach"}]}
  {:id          :syungb
   :name        "Siyoung Byun"
   :url         "https://github.com/syungb"
   :image       "https://avatars.githubusercontent.com/u/1319016?v=4"
   :email       "syungb@gmail.com"
   :affiliation [:scicloj]
   :links       [{:icon "github" :href "https://github.com/syungb"}]}
  {:id          :joinr
   :name        "joinr"
   :url         "https://github.com/joinr"
   :image       "https://avatars.githubusercontent.com/u/4629681?v=4"
   :email       ""
   :affiliation [:scicloj]
   :links       [{:icon "github" :href "https://github.com/joinr"}]}
  {:id          :alza-bitz
   :name        "Alex Coyle"
   :url         "https://github.com/alza-bitz"
   :image       "https://avatars.githubusercontent.com/u/1161048?v=4"
   :email       ""
   :affiliation [:scicloj]
   :links       [{:icon "github" :href "https://github.com/alza-bitz"}]}
  {:id          :emilbengtsson
   :name        "Emil Bengtsson"
   :url         "https://emil0r.com"
   :image       "https://avatars.githubusercontent.com/u/49733?v=4"
   :links       [{:icon "github" :href "https://github.com/emil0r"}]}
  {:id          :janwedekind
   :name        "Jan Wedekind"
   :url         "https://www.wedesoft.de/"
   :image       "https://avatars.githubusercontent.com/u/28663?v=4"
   :email       "jan@wedesoft.de"
   :links       [{:icon "github" :href "https://github.com/wedesoft"}]}
  {:id          :kloimhardt
   :name        "Markus Agwin Kloimwieder"
   :url         "https://github.com/kloimhardt"
   :image       "https://github.com/kloimhardt.png"
   :affiliation [:scicloj]}
  {:id          :edwardaw
   :name        "Edward Widjaja"
   :url         "https://github.com/W-Edward"
   :image       "https://avatars.githubusercontent.com/u/36920869?v=4"
   :email       "edwardaw@connect.hku.hk"
   :affiliation [:cim]
   :links       [{:icon "github" :href "https://github.com/W-Edward"}]}
  {:id    :tombarys
   :name  "Tomáš Baránek"
   :image "https://avatars.githubusercontent.com/u/5729352?v=4"
   :url   "https://barys.me/#english-section"
   :email "tom@barys.me"
   :links [{:icon "github" :href "https://github.com/tombarys"}]}
  {:id          :mattb
   :name        "Matthias Buehlmaier"
   :url         "https://github.com/buehlmaier"
   :image       "https://github.com/buehlmaier.png"
   :affiliation [:cim]}
  {:id          :tanvi
   :name        "Tanvi Nagar"
   :email       "tanvi@connect.hku.hk"
   :affiliation [:cim]}
  {:id          :luke-zeitlin
   :name        "Luke Zeitlin"
   :url         "https://github.com/larzeitlin"
   :image       "https://github.com/larzeitlin.png"
   :affiliation []}
  {:id          :ludgersolbach
   :name        "Ludger Solbach"
   :url         "https://github.com/lsolbach"
   :image       "https://github.com/lsolbach.png"
   :links       [{:icon "github" :href "https://github.com/lsolbach"}]
   :affiliation []}
  {:id    :bsless
   :name  "Ben Sless"
   :image "https://avatars.githubusercontent.com/u/21342111?v=4"
   :url   "https://bsless.github.io/"
   :links [{:icon "github" :href "https://github.com/bsless"}]}
  {:id          :generateme
   :name        "Tomasz Sulej"
   :image       "https://avatars.githubusercontent.com/u/38646601?v=4"
   :url         "https://github.com/genmeblog"
   :affiliation [:scicloj]
   :links       [{:icon "github" :href "https://github.com/genmeblog"}]}
  {:id          :com.github/teodorlu
   :name        "Teodor Heggelund"
   :url         "https://teod.eu/"
   :image       "https://play.teod.eu/img/teodor-heggelund-skitur.jpg"
   :links       [{:icon "github" :href "https://github.com/teodorlu"}]}
  {:id          :burinc
   :name        "Burin Choomnuan"
   :url         "https://choomnuan.com"
   :image       "https://avatars.githubusercontent.com/burinc"
   :links       [{:icon "github" :href "https://github.com/burinc"}]
   :affiliation []}
  {:id          :annieliu
   :name        "Annie Liu"
   :url         "https://github.com/humanni-e"
   :email       "u3629374@connect.hku.hk"}
  {:id          :proffitt
   :name        "William Proffitt"
   :url         "https://github.com/doogiecode"
   :image       "https://avatars.githubusercontent.com/doogiecode"}
  {:id          :jclaggett
   :name        "Jonathan Claggett"
   :image       "https://avatars.githubusercontent.com/u/100909?v=4"
   :url         "https://github.com/jclaggett"
   :links       [{:icon "github" :href "https://github.com/jclaggett"}]}
  {:id          :rafd
   :name        "Rafal Dittwald"
   :image       "https://avatars.githubusercontent.com/u/89664?v=4"
   :affiliation [:clojurecamp]
   :url         "https://github.com/rafd"
   :links       [{:icon "github" :href "https://github.com/rafd"}]}
  {:id          :mt
   :name        "Mike Travers"
   :image       "https://avatars.githubusercontent.com/u/19027"
   :url         "https://hyperphor.com"
   :affiliation [:scicloj]
   :links       [{:icon "github" :href "https://github.com/mtravers"}
                 {:icon "mastodon" :text "Mastodon" :href "https://mastodon.social/@mtraven23"}]}
  {:id          :pbaille
   :name        "Pierre Baille"
   :image       "https://avatars.githubusercontent.com/u/4739483"
   :url         "https://github.com/pbaille"
   :links       []}
  {:id          :ezmiller
   :name        "Ethan Miller"
   :image       "https://avatars.githubusercontent.com/u/772738?v=4&size=64"
   :url         "https://github.com/ezmiller"
   :links       ["https://humanscodes.com"]}
  {:id          :llyons
   :name        "Lorelai Lyons"
   :url         "https://lorelailyons.me/"
   :links       [{:icon "github" :href "https://github.com/thefakelorlyons"}]}
  {:id :pez
   :name "Peter Strömberg"
   :url "https://github.com/pez"
   :links [{:href "https://calva.io/"}]
   :image "https://avatars.githubusercontent.com/u/30010?v=4"
   :affiliation [:agical]}
  {:id :antonzhyliuk
   :name "Anton Zhyliuk"
   :url "https://github.com/antonzhyliuk"
   :image "https://avatars.githubusercontent.com/u/5443338?v=4"
   :affiliation [:domik-systems]}
  {:id :tomas81508
   :name "Tomas Ekholm"
   :url "https://github.com/tomas81508"
   :image "https://avatars.githubusercontent.com/u/471055?v=4"
   :affiliation [:kth :conjoin-it]}
  {:id :chrysophylax
   :name "Billy Jaime Beltran"
   :url "https://github.com/chrysophylax"
   :image "https://avatars.githubusercontent.com/u/10576351?v=4"
   :affiliation [:redpill-linpro]}
  {:id :dts
   :name "Dirk Schweiger"
   :url "https://github.com/dirkschweiger"
   :image "https://avatars.githubusercontent.com/u/22668917?v=4"
   :affiliation [:textsound.io]}
  {:id :jamiep
   :name "Jamie Pratt"
   :url "https://jamiep.org/"
   :image "https://avatars.githubusercontent.com/jamiepratt"
   :links [{:icon "github" :href "https://github.com/jamiepratt"}]}
  {:id :dzepat
   :name "Dzedas Patapovas"
   :url "https://github.com/dzepat"}]
 :affiliation
 [{:id :textsound.io
   :name "textsound.io"
   :url "https://textsound.io/"}
  {:id :redpill-linpro
   :name "Redpill Linpro"
   :url "https://redpill-linpro.com"}
  {:id :kth
   :name "Royal Institute of Technology"
   :url "https://www.kth.se/"}
  {:id :conjoin-it
   :name "conjoin-it"
   :url "https://conjoin-it.se/"}
  {:id :domik-systems
   :name "Domik Systems"
   :url "https://domik-systems.com/"}
  {:id :agical
   :name "Agical"
   :url "https://www.agical.se/"}
  {:id   :clojure.core
   :name "Clojure.core"
   :url  "https://clojure.org"}
  {:id   :scicloj
   :name "Scicloj"
   :url  "https://scicloj.github.io/"}
  {:id   :clojurecamp
   :name "Clojure Camp"
   :url  "https://clojure.camp/"}
  {:id   :hummi
   :name "Hummi"
   ;; TODO: as icons
   :url  "https://hummi.app"}
  {:id   :techascent
   :name "TechAscent"
   :url "https://techascent.com"}
  {:id   :cim
   :name "cim"
   :url  "https://cim.hkubs.hku.hk/"}
  {:id   :endor
   :name "Endor Global"
   :url  "https://endor.global"}
  {:id   :bu
   :name "Boston University"
   :url  "https://www.bu.edu/"}]

 :topic
 [{:id        :core
   :desc      "Fundamental language concepts"
   :color     "#E2F0CB"
   :direction 0}
  {:id   :core/syntax
   :desc "Data structures special forms and syntax"}
  {:id   :core/fp
   :desc "Functional programming patterns"}
  {:id   :core/async
   :desc "Concurrency and core.async"}
  {:id   :core/macros
   :desc "Macros and metaprogramming"}

  {:id        :web
   :desc      "Web development"
   :color     "#B5EAD7"
   :direction 1}
  {:id   :web/frontend
   :desc "Browser-based applications"}
  {:id   :web/backend
   :desc "Server-side development"}

  {:id        :data
   :desc      "Data processing and analysis"
   :color     "#C7CEEA"
   :direction 2}
  {:id   :data/analysis
   :desc "Data transformation and ML"}
  {:id   :data/viz
   :desc "Data visualization"}

  {:id        :systems
   :desc      "System architecture and patterns"
   :color     "#FF9AA2"
   :direction 3}
  {:id   :systems/observability
   :desc "Monitoring and debugging"}
  {:id   :systems/performance
   :desc "Performance optimization"}
  {:id   :systems/databases
   :desc "Database interactions"}

  {:id        :tooling
   :desc      "Development tools and workflow"
   :color     "#FFB7B2"
   :direction 4}
  {:id   :tooling/repl
   :desc "REPL tooling and workflows"}
  {:id   :tooling/build
   :desc "Build systems and dependency management"}
  {:id   :tooling/testing
   :desc "Testing methodologies"}

  {:id        :community
   :desc      "Ecosystem and learning resources"
   :color     "#FFDAC1"
   :direction 5}
  {:id   :community/events
   :desc "Conferences and meetups"}]

 :notebook
 [;; ===== CORE =====
  {:id     "clj-docs"
   :title  "Official Clojure Documentation"
   :url    "https://clojure.org/guides/getting_started"
   :format :reference
   :topic  [:core]
   :level  0}

  {:id     "brave-clojure"
   :title  "Clojure for the Brave and True"
   :url    "https://www.braveclojure.com/"
   :format :interactive-book
   :topic  [:core :core/fp]
   :level  1}

  {:id         "transducers"
   :title      "Transducers Explained"
   :url        "https://www.youtube.com/watch?v=6mTbuzafcII"
   :format     :video
   :topic      [:core :core/fp]
   :level      2
   :depends-on ["clj-docs"]}

  ;; ===== WEB =====
  {:id     "reagent-docs"
   :title  "Reagent Documentation"
   :url    "https://reagent-project.github.io/"
   :format :library-docs
   :topic  [:web :web/frontend]
   :level  1}

  {:id         "re-frame"
   :title      "re-frame: A React Framework"
   :url        "https://day8.github.io/re-frame/"
   :format     :library-docs
   :topic      [:web :web/frontend]
   :level      2
   :depends-on ["reagent-docs"]}

  {:id     "luminus"
   :title  "Luminus Web Framework"
   :url    "https://luminusweb.com/"
   :format :framework
   :topic  [:web :web/backend]
   :level  2}

  {:id     "replicant"
   :title  "Replicant Documentation"
   :url    "https://replicant.fun/"
   :format :library-docs
   :topic  [:web :web/backend]
   :level  2}

  ;; ===== DATA =====
  {:id     "tablecloth"
   :title  "Tablecloth: Dataframe Library"
   :url    "https://github.com/scicloj/tablecloth"
   :format :library-docs
   :topic  [:data :data/analysis]
   :level  1}

  {:id     "clay"
   :title  "Clay Documentation"
   :url    "https://scicloj.github.io/clay/"
   :format :publishing-tool
   :topic  [:data]
   :level  2}

  {:id     "tech.ml"
   :title  "tech.ml Machine Learning"
   :url    "https://github.com/techascent/tech.ml"
   :format :library-docs
   :topic  [:data :data/ml]
   :level  3}

  ;; ===== TOOLING =====
  {:id     "deps-edn"
   :title  "deps.edn Reference"
   :url    "https://clojure.org/reference/deps_and_cli"
   :format :reference
   :topic  [:tooling]
   :level  0}

  {:id     "cider"
   :title  "CIDER for Emacs"
   :url    "https://docs.cider.mx/"
   :format :tool-docs
   :topic  [:tooling :tooling/repl]
   :level  1}

  {:id     "shadow-cljs"
   :title  "shadow-cljs Build Tool"
   :url    "https://shadow-cljs.github.io/docs/UsersGuide.html"
   :format :tool-docs
   :topic  [:tooling :tooling/build]
   :level  2}

  ;; ===== COMMUNITY =====
  {:id     "scicloj"
   :title  "SciCloj Community"
   :url    "https://scicloj.github.io/"
   :format :community
   :topic  [:community :community/orgs]
   :level  0}

  {:id     "clojure-camp"
   :title  "ClojureCamp Events"
   :url    "https://clojurecamp.berlin/"
   :format :community
   :topic  [:community :community/events]
   :level  1}

  {:id     "clojure-tv"
   :title  "ClojureTV YouTube"
   :url    "https://www.youtube.com/user/ClojureTV"
   :format :video-channel
   :topic  [:community :community/learning]
   :level  0}

  {:id     "clojurians"
   :title  "Clojurians Slack"
   :url    "http://clojurians.net/"
   :format :community
   :topic  [:community :community/chat]
   :level  0}

  {:id     "practicalli"
   :title  "Practicalli Tutorials"
   :url    "https://practical.li/"
   :format :tutorials
   :topic  [:community :community/learning]
   :level  1}

  ;; ===== SYSTEMS =====
  {:id     "jvm-tuning"
   :title  "JVM Performance Guide"
   :url    "https://clojure.org/reference/jvm_programming"
   :format :guide
   :topic  [:systems :systems/production]
   :level  3}

  {:id     "component"
   :title  "Component Library"
   :url    "https://github.com/stuartsierra/component"
   :format :library-docs
   :topic  [:systems :systems/design]
   :level  2}

  {:id     "nrepl"
   :title  "nREPL Protocol"
   :url    "https://nrepl.org/"
   :format :protocol
   :topic  [:systems :systems/tooling]
   :level  2}

  {:id     "datomic"
   :title  "Datomic Database"
   :url    "https://docs.datomic.com/cloud/"
   :format :database
   :topic  [:systems :systems/data :data/db]
   :level  3}

  ;; ===== CROSS-CATEGORY =====
  {:id     "clojurescript"
   :title  "ClojureScript Guide"
   :url    "https://clojurescript.org/"
   :format :reference
   :topic  [:core :web :tooling]
   :level  1}

  {:id     "kaocha"
   :title  "Kaocha Test Runner"
   :url    "https://github.com/lambdaisland/kaocha"
   :format :tool-docs
   :topic  [:tooling :tooling/testing]
   :level  2}

  {:id     "xtdb"
   :title  "XTDB Documentation"
   :url    "https://xtdb.com/"
   :format :database
   :topic  [:systems :systems/data :data/db]
   :level  3}]}
